$def with (form, user)
<!DOCTYPE html>
<html>
  <head>
    <title>INGIfet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"> 
    <!-- Bootstrap -->
    <link href="$urlize("static/css/bootstrap.min.css")" rel="stylesheet">
    <!-- styles -->
    <link href="$urlize("static/css/styles.css")" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-3">
	              <!-- Logo -->
	              <div class="logo">
                      <h1><a href="$urlize("/")"><i class="glyphicon glyphicon-glass"></i> INGIfet</a></h1>
	              </div>
	           </div>
            </div>
	     </div>
	</div>

    <div class="page-content">
    	<div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <div class="col-md-12">

                    <div class="content-box-header">
                        <div class="panel-title">
                            Add consumptions to « $user.firstname $user.lastname »
                        </div>


                        <div class="panel-options">
                            <a href="/mail"><i class="glyphicon glyphicon-envelope"></i> <a href="$:urlize("/mail/"+str(user.id)+"?u=1")">Send me my balance</a>
                        </div>

                        <div class="clear-both"></div>
                    </div>

                    <div class="content-box-large box-with-header">
                        $if form == "BALANCE":
                            <p>Your balance has been sent to your mailbox.</p>
                        $elif form:
                            <form method="post" action="/consume/$user.id">
                                $:form.render()
                                <input type="hidden" name="userside" value="1"/>
                            </form>
                        $else:
                            <p>Your consumption has been saved.</p>
                    </div>
                </div>
            </div>
		  </div>
		</div>
    </div>

    <footer>
         <div class="container">
            <div class="copy text-center">
               INGIfet
            </div>
         </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="$urlize("static/js/bootstrap.min.js")"></script>
    <script src="$urlize("static/js/custom.js")"></script>
  </body>
</html>
