$def with (form, user, str)

<div class="content-box-header">
    <div class="panel-title">
    $if user:
        Editer l'utilisateur « $user.firstname $user.lastname »
    $else:
        Ajouter un nouvel utilisateur
    </div>
</div>
$if str=='NotUniqueEmail':
    <div class="alert alert-danger">
      <strong>Error!</strong> The e-mail you provide is not unique.
    </div>

<div class="content-box-large box-with-header">
    $if user:
        <form class="form" method="post" action="/users/edit/$user.id">
    $else:
        <form class="form" method="post" action="/users/add">

    $:form.render()
    </form>
</div>
