$def with (form)

<div class="content-box-header">
    <div class="panel-title">
        Modifier le template de mail
    </div>
</div>

<div class="content-box-large box-with-header">
    <p>
        Vous pouvez modifier le mail envoyé aux utilisateurs.
        <br/><br/>
        <strong>Attention :</strong> le template peut contenir la balise "{apayer}" qui représente le montant à payer pour se mettre en ordre auprès de la cafet', la balise "{solde}" qui représente la valeur numérique du solde actuel de l'utilisateur, et les balises "{prenom}" et "{nom}" qui permettent d'indiquer le nom de l'utilisateur.
    </p>
    <form class="form" method="post" action="/mail/template">
        $:form.render()
    </form>
</div>
