$def with (user, ops)

<div class="content-box-header">
    <div class="panel-title">Utilisateur « $user.firstname $user.lastname »</div>

    <div class="panel-options">
        <a href="/users/edit/$user.id"><i class="glyphicon glyphicon-edit"></i> Éditer le profil</a>
    </div>
</div>

<div class="content-box-large box-with-header">

    <ul>
        <li>$user.firstname $user.lastname</li>
        <li>Solde : $float2str(user.balance) €</li>
        <li>Adresse mail : $user.email</li>
        <li>
            Utilisateur actif :
            $if user.active: 
                oui 
            $else:
                non
        </li>
        <li>
            RFID :
            $if user.rfid:
                $user.rfid
            $else:
                Aucun
        </li>
    </ul>

    <h3>Historique</h3>

    <ul>
    $for op in ops:
        <li>$datetime2str(op.date) : $float2str(op.amount) €</li>
    </ul>
</div>
