$def with (user, ops, form)

<div class="content-box-header">
    <div class="panel-title">Utilisateur « $user.firstname $user.lastname »</div>

    <div class="panel-options">
        <a href="/users/edit/$user.id"><i class="glyphicon glyphicon-edit"></i> Éditer le profil</a>
    </div>
</div>

<div class="content-box-large box-with-header">

    <ul>
        <li>$user.firstname $user.lastname</li>
        <li>Solde : $float2str(user.balance) €</li>
        <li>Adresse mail : $user.email</li>
        <li>FGS : $user.fgs</li>
        <li>RFID : $user.rfid</li>
    </ul>

    <h2>Ajouter des consommations</h2>

    <form method="post" action="/consume/$user.id">
        $:form.render()
    </form>


    <h2>Historique</h2>

    <ul>
    $for op in ops:
        <li>$datetime2str(op.date) : $float2str(op.amount) €</li>
    </ul>
</div>
